
@{
    Layout = "_Layout";
}

<h1>Employees</h1>

<div id="Employee-Index-Form">
    <form>
        <input type="text" id="Name" placeholder="Name" />
        <br />
        <input type="text" id="Surname" placeholder="Surname" />
        <br />
        <input type="email" id="Email" placeholder="Age" />
        <br />
        <input type="button" value="Send" onclick="GuestBook.Page.GuestBook.Index.Send();" />
    </form>


</div>

